<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--引用外部属性文件-->
    <!--数据库连接池作为单实例是最好的，一个项目只有一个连接池，连接池中有很多连接-->
    <!--可以让Spring帮我们创建连接池对象(管理连接池)-->
    <!--classpath表示引入类路径下的资源-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <bean id="poolDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${username}"/>
        <property name="password" value="${password}"/>
        <property name="jdbcUrl" value="${url}"/>
        <property name="driverClass" value="${driver}"/>
    </bean>
</beans>