<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="rich.zrc.User.Address">
        <property name="address" value="china"></property>
    </bean>

    <bean id="student" class="rich.zrc.User.Student">
        <property name="name" value="rich"></property>
        <property name="address" ref="address"></property>
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>水浒传</value>
                <value>三国演义</value>
            </array>
        </property>
        <property name="hobbies">
            <list>
                <value>听歌</value>
                <value>敲代码</value>
                <value>敲代码时听歌</value>
                <value>听歌时敲代码</value>
            </list>
        </property>
        <property name="card">
            <map>
                <entry key="身份证" value="61048199802120018"></entry>
                <entry key="银行卡" value="659726743306"></entry>
            </map>
        </property>
        <property name="games">
            <set>
                <value>LOL</value>
                <value>COC</value>
                <value>BOB</value>
            </set>
        </property>
        <property name="wife">
            <null></null>
        </property>
        <property name="info">
            <props>
                <prop key="学号">2019124107</prop>
                <prop key="性别">男</prop>
                <prop key="学历">硕士</prop>
            </props>
        </property>
    </bean>
</beans>